@import '../styles/config';

@mixin flex {
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.board {
    @include flex();
    margin: auto;
    flex-direction: column;
    gap: 2rem;
   
    .dealer {
        @include flex();
    }

    .player {
        @include flex();
    }

    .info {
        //flex: 1 0 100%
        font-size: 1em;

        .value {
            font-weight: bold;
        }
    }
}