@import '../styles/config';

.card {
    background-color: $background-text-color;
    padding: 1em;
    border-radius: 20px;
    width: 150px;
    height: 200px;

    .data {
        color: $background-layer-one;
        font-size: 60px;
    }
}

.suit {

    .spades::after {
        content: "\2660";
    }

    .diams::after {
        content: "\2666";
    }

    .hearts::after {
        content: "\2665";
    }

    .clubs::after {
        content: "\2663";
    }
}