@import '../styles/config';

@keyframes fade-black {
    0% {
        background-color: rgba($color: #000000, $alpha: 0);
    }
    100% {
        background-color: rgba($color: #000000, $alpha: 0.3);
    }
}

@keyframes enter-container {
    0% {
        transform: translateY(0);
        opacity: 0;
    } 100% {
        transform: translateY(-100px);
        opacity: 1;
    }
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    user-select: none;
    animation: 1s ease-out 0s 1 fade-black;
    
    background-color: rgba($color: #000000, $alpha: 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
}

.result_container {
    //background-color: $primary-accent-color;
    text-align: center;
    padding: 2rem 0;
    max-width: 400px;
    min-height: 300px;

    border-radius: 20px;

    transform: translateY(-100px);
    animation: 1s ease-out 0s 1 enter-container;

    display: flex;
    flex-wrap: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.result_text {
    flex: 1 0 60%;
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
}

.buttonList {
    flex: 1 0 60%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

.button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    min-height: 40px;
    min-width: 80px;
    background-color: rgba($color: white, $alpha: 0.4);
    color: $background-layer-one;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

    &:hover{
        transition: 0.2s;
        background-color: rgba(white, 0.6);
    }
}

.win {
    background-color: $win-color;
    box-shadow: rgba(white, 0.746) 0px 3px 8px;
}
.lose{
    background-color: $primary-accent-color;
    box-shadow: rgba(black, 0.746) 0px 3px 8px;
}